{%extends 'base.html'%}

{%block content%}

<style>


  #search-button {
    all: unset;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 20%;
    font: 12px sans-serif;
    font-weight: bold;
    color: white;
    }




    .task-menu-button {
      text-transform: uppercase;	
      border: 1px solid #000;
      margin: 7px 0;
      width: 100%;
      box-sizing: border-box;
      background-color: #C1D2CE;
      color: black;
      display: block;
      padding: 12px;
      text-decoration: none;
      border-radius: 10px;
      }
  .subnav {
    padding-top: 50px;
    position: float;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    }
    
    
    .task-menu-button:hover {
    background-color: #DABC27;
    color:white;
    font-size:16px;
    font-weight: bold;
    text-decoration: none;
    }



  .menu{
    position: fixed;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
    border-top-right-radius: 80px 80px;
    top: 50;
    left: 0;
    height: 100%;
    width: 15%;
    background-color: #284E3D;
  }

  .menu-title{
    color: #fdfcda;
    background-color: grey;
    height: 50px;
    width: 100%;
    padding-left:5px;
  }


  .main-content{
    padding-top: 70px;
    margin-left: 16%;
  }

  .block{
    width: 100%; 
    float:left;
    padding-left: 100px;
  }


    a.content-list{
        font-size: 20px;
        font-weight: bold;
        color:rgb(12, 180, 136)
    }

    #search-form {
        background-color: rgb(12, 180, 136);
        width: 444px;
        height: 30px;
        border-radius: 5px;
        display:flex;
        flex-direction:row;
        align-items:center;
      }

    #query {
        all: unset;
        font: 18px system-ui;
        color: #fff;
        height: 100%;
        width: 100%;
        padding: 6px 10px;
      }

      ::placeholder {
        color: #fff;
        opacity: 0.7; 
      }


    #search-button {
        all: unset;
        cursor: pointer;
        width: 35px;
        height: 20px;
        padding: 10%;
        font: 16px sans-serif;
        font-weight: bold;
        color: white;
      }
</style>

{%block sidemenu%}
<div class="menu">
  <h2 class="menu-title">Поща</h2>

  <nav class="subnav">
    <a href="{%url 'inbox' %}" class="task-menu-button">Всички</a>
    <a href="{%url 'tasks-inbox' %}" class="task-menu-button">Задачи</a>
    <a href="{%url 'items-inbox' %}" class="task-menu-button">Желания</a>
  </nav>
</div>
{%endblock sidemenu%}
  <div class="main-content">
    <form 
        id="search-form" 
        role="search"
        method="post"
        action="{% url 'search' %}">
        {%csrf_token %}
        <input type="search" id="query" name="search-query"
         placeholder="Търси..."
         aria-label="Търсене в данните">
         <button type="submit" id="search-button">Намери</button>
    </form>

    {%block subcontent%}
    <p>Съдържание на всички задачи и желания, които не са в моето пространство</p>
    {%endblock subcontent%}

    <div class='option-content'>
    </div>
  </div>
{%endblock content%}
