{%extends 'base.html'%}
{%block content%}
<style>
	.subnav {
		padding-top:50px;
		position: float;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		}
	  
	  .task-menu-button {
		text-transform: uppercase;	
		border: 1px solid #000;
		margin: 7px 0;
		width: 100%;
		box-sizing: border-box;
		background-color: #C1D2CE;
		color: black;
		display: block;
		padding: 12px;
		text-decoration: none;
		border-radius: 10px;
		}
	.task-menu-button:hover {
		background-color: #DABC27;
		color:white;
		font-size:16px;
		font-weight: bold;
		text-decoration: none;
		}
	.new-task-button{
		background-color:transparent;
		border: 1px solid red;
		text-decoration: none;
		border-radius: 10px;
		margin: 7px 0;
		width: 100%;
		display: block;
		padding:12px;
		}
	.subnav a:hover {
		background-color: #DABC27;
		color:white;
		font-size:16px;
		font-weight: bold;
		text-decoration: none;
	}
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  width: 200px;

	}
	
	li a {
	  color: #A84190;
	  padding: 8px 16px;
	  text-decoration: none;
	}
	
	/* Change the link color on hover */
	li a:hover {
	  background-color: #555;
	  color: white;
	}

	.menu{
		position: fixed;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		border-top-right-radius: 80px 80px;
		left: 0;
		height: 100%;
		width: 15%;

		background-color: #515960;//#A1D2CE;
	}
	.menu-title{
		color: #fdfcda;
		background-color: grey;
		padding-left:5px;
		height: 50px;
		width: 100%;
	  }
	
	.main-content{
		padding-top: 70px;
		margin-left: 16%;
	  }

	</style>
<div class="container">

	<div class="menu">

		<h2 class="menu-title">Желания</h2>

		<nav class="subnav">
			<a href="{% url 'myitems-list' %}" class="task-menu-button">Всички</a>
			<a href="{% url 'ownitems' %}" class="task-menu-button">Мои обяви</a>
			<a href="{% url 'my-needs' %}" class="task-menu-button">Искам</a>
			<a href="{% url 'externitems' %}" class="task-menu-button">Давам</a>
			<a 
				href="{% url 'item-create' %}" 
				class="new-task-button" 
				style="
					font-size:18px; 
					font-weight: bold;
					color:red;">
				Ново желание
			</a>
		</nav>
	</div>
	<div class="main-content">
		<br/>
		{%block itemscontent %}
		<h3>Всички</h3>
		{% if items %}
		<ul class="tasks">
			{% for item in items %}
				<li>
					<a 
						href="{% url 'item' item.item_id %}" 
						class="task-list">
						Категория: {{ item.category }}<br/>
						Наименование: {{ item.name }} <br/>
					</a> 
				</li>

			{% endfor %}
		{% else %}
			<h4> Няма съдържание в кутиите! <a href="{%url 'item-create'%}">Създай</a></h4>
		{% endif %}
		</ul>
		{%endblock itemscontent%}
	</div>
</div>
{%endblock content%}

<!--

<div  class="task-controls">
				 	<a href="{%url 'task-delete' task.task_id %}"><i class="bi bi-trash"></i> </a>
					<a href="{%url 'task-update' task.task_id %}"><i class="bi bi-pencil-square"></i></a>
					<a href="{%url 'task-message' task.task_id %}"><i class="bi bi-plus">Съобщение</i></a>
		         </div>

-->
