{%extends 'player/templates/items/myitems_list.html'%}

{%block itemscontent%}

<div class="center">
	<form method="post" novalidate class="task-data">
	 	{%csrf_token %}
	 	
	 	<h2 class='text-center'>{% if item %} Промени {%else %} Създай {%endif%} желание</h2>
		{% for field in form %}
			<b>{{ field.label_tag }} {{ field }} </b> 
			{% if field.errors %}
				<small class="error">{{ field.errors|striptags  }}</small> 
			{% endif %}
		{% endfor %}
		
		<div class="form-buttons">
			<input type="submit" value="Запиши" class="btn btn-primary"/>
			<a href="{%url 'ownitems'%}" class="btn btn-outline">Откажи</a>
		</div>
	</form>
</div>

{%endblock itemscontent%}

