<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Работещи функции {{name}}:</h1>
    <p><a href="http://192.168.1.110:8000/player/create/">Създаване на потребител</a></p>
    <p><a href="http://192.168.1.110:8000/player/get/">Извличане на потребител</a></p>
    <p><a href="http://192.168.1.110:8000/player/all/">Извличане на всички потребители</a></p>
    <p><a href="http://192.168.1.110:8000/player/changestatus/">Смяна статуса на потребител</a></p>
    <p><a href="http://192.168.1.110:8000/player/take-task/">Приемане на задача</a></p>
    <p><a href="http://192.168.1.110:8000/player/missions/all/">Моите мисии</a></p>
    <p><a href="http://192.168.1.110:8000/player/missions/enter-waiting/">Записване в списъка с чакащи</a></p>
   
    <p><a href="http://192.168.1.110:8000/task/create/">Създаване на задача</a></p>
    <p><a href="http://192.168.1.110:8000/task/get/">Извличане на задача</a></p>
    <p><a href="http://192.168.1.110:8000/task/get/all/">Извличане на всички задачи</a></p>
    <p><a href="http://192.168.1.110:8000/task/update/">Актуализиране на задача</a></p>
    <p><a href="http://192.168.1.110:8000/task/remove/">Изтриване на задача</a></p>
   
    <p><a href="http://192.168.1.110:8000/task/category/create/">Добавяне на категория за задачи</a></p>
    <p><a href="http://192.168.1.110:8000/task/subcategory/create/">Добавяне на подкатегория задачи</a></p>
    <p><a href="http://192.168.1.110:8000/task/subcategory/all/">Списък с категории задачи</a></p>

    <p><a href="http://192.168.1.110:8000/item/category/create/">Добавяне на категория за предмети</a></p>
    <p><a href="http://192.168.1.110:8000/item/create/">Създаване на предмет</a></p>
    <p><a href="http://192.168.1.110:8000/item/get/all/">Всички предмети</a></p>
    <p><a href="http://192.168.1.110:8000/message/from/">Съобщение</a></p>
</body>
</html>